<header class="bg-[#fff] opacity-90 p-4 w-full mb-6 relative">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-black text-2xl font-semibold">
            <a routerLink="">Midterm</a>
        </h1>

        <nav class="hidden lg:flex gap-4 items-center mt-2">
            <button class="text-white" (click)="navigateTo('/feed')">
                Home
            </button>
            <button class="text-white" (click)="navigateTo('/feed')">
                Feed
            </button>
            <button class="text-white" (click)="navigateTo('/feed')">
                About
            </button>
        </nav>
    </div>
</header>